flynt-component[name="BlockProjects"] {

	overflow: hidden;

	.images-slider {

		.swiper-scrollbar {
			background: #ffffff;
			height: 8px;
			border-radius: 4px;
			position: initial;
			margin-top: 1.9em;

			@media (min-width: $breakpoint-mobile-horizontal) {
				margin-top: 0.8em;
				margin-bottom: 4.5em;
			}
		}

		&__title {
			.titles {
				margin-bottom: unset;

				.subtitle {
					font-weight: 400;
				}
			}
		}

		&__image {
			width: 265px;
			height: 290px !important;

			@media (min-width: $breakpoint-tablet) {
				width: 590px;
				height: 640px !important; //overrule .entry-content img
				object-fit: cover;
			}
		}

		&__top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.07em;

			@media (min-width: $breakpoint-mobile-horizontal) {
				flex-direction: column;
				gap: 24px;
			}
		}

		.swiper-slide {
			@media (min-width: $breakpoint-mobile-horizontal) {
				width: 265px !important;
			}
		}

		.swiper-scrollbar {
			height: 6px !important;
		}

		&__buttons {
			position: relative;
			display: flex;
			gap: 8px;
			margin-top: .8em;

			@media (min-width: $breakpoint-mobile-horizontal) {
				position: absolute;
				bottom: 60px;
				margin: 0;
			}

			.swiper-button-prev {
				&::after {
					content: "\f104";
					font-family: 'FontAwesome';
				}
			}

			.swiper-button-next {
				&::after {
					content: "\f105";
					font-family: 'FontAwesome';
				}
			}

			.swiper-button-disabled {
				opacity: 1;
			}

			.swiper-button-next,
			.swiper-button-prev {
				position: initial;
				padding: 15px;
				border-radius: 100vw;
				background-color: red;
				width: 40px;
				height: 40px;
				margin-top: unset;

				&::after {
					font-size: 22px;
					color: #000000;
				}

				&:hover {
					background-color: rgba(red, .7);
				}
			}
		}
	}
}