flynt-component[name='NavigationFooter'] {
  font-size: var(--font-size-body-small);

  .container {
    padding-block: var(--component-spacing);
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-block: 36px;
    }
  }

  .content {
    margin: var(--flow-space) 0 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  .connect-items {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 25vh;
    left: -70px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.6);
    transition: .3s ease;

    a,
    i {
      color: white;
    }

    @media (max-width: $breakpoint-desktop) {
      bottom: 5vh;
      left: -70px;
      height: 20px;
      top: unset;

      &:hover,
      &:active {
        left: -30px;
        height: fit-content;
        animation: fadeIn 0.5s ease, hoverIn 0.5s ease-in-out;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes hoverIn {
          0% {
            left: -70px;
          }

          25% {
            left: -30px;
          }

          50% {
            height: fit-content;
          }

          100% {
            height: fit-content;
            left: -30px;
          }
        }
      }


    }

    &:hover {
      left: -30px;
      margin: 0 0 0 auto;
      align-items: flex-end;
    }

    .connect {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);

      &::after {
        margin: 20px 0 20px;
        content: "";
        display: inline-block;
        width: 1px;
        height: 100px;
        border: 1px solid
      }

      &::before {
        margin-bottom: 20px;
        content: "";
        display: inline-block;
        width: 1px;
        height: 20px;
        border: 1px solid
      }

      i {
        transform: rotate(90deg)
      }
    }
  }

  @import 'Partials/menu';
}