<flynt-component name="NavigationFooter">
	<div class="container">
		{% if menu %}
			<nav class="navigation" aria-label="{{ labels.ariaLabel }}">
				{% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
			</nav>
		{% endif %}
		{% if contentHtml %}
			<div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
		{% endif %}

		<div class="connect-items">
			<a href="mailto:info@wesselvandenijssel.nl" title="info@wesselvandenijssel.nl">
				<i class="fa-regular fa-envelope"></i>
			</a>
			<a href="https://www.linkedin.com/in/wessel-van-den-ijssel/" title="LinkedIn">
				<i class="fa-brands fa-linkedin-in"></i>
			</a>
			<a href="https://github.com/wesselvandenijssel/" title="GitHub">
				<i class="fa-brands fa-github"></i>
			</a>

			<a href="mailto:info@wesselvandenijssel.nl" class="connect">connect
				<i class="fa-solid fa-envelope"></i>
			</a>


		</div>
	</div>
</flynt-component>
