flynt-component[name="BlockHero"] {
  overflow: hidden;
  &::before {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 100px 0 0 50vw;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &::after {
    content: "";
    height: 0;
    width: 0;
    border-width: 0 0 100px 50vw;
    position: absolute;
    border-style: solid;
    right: 0;
    bottom: 0;
    border-color: transparent transparent #ffffff transparent;
  }
  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      align-items: center;
      display: flex;
      gap: var(--column-gap);
      justify-content: space-around;
      padding-bottom: 150px;

      > * {
        flex-basis: 50%;
        margin-block-start: 0;
      }

      &[data-image-position="left"] {
        flex-direction: row;
      }

      &[data-image-position="right"] {
        flex-direction: row-reverse;
      }

      figure {
        position: relative;
        img {
          position: relative;
          z-index: 5;
          border-radius: 100vw;
          background-color: white;
        }
        &:before {
          content: "";
          position: absolute;
          width: 150%;
          height: 175%;
          z-index: 1;
          background-image: url(../../assets/images/background-shape.svg);
          left: -10%;
          right: 0;
          top: -50%;
        }
        &::after {
          width: 110%;
          position: absolute;
          height: 110%;
          top: -5%;
          left: -10%;
          border: 5px solid white;
          content: "";
          border-radius: 100vw;
        }
      }
    }
  }
}
