<ul class="contact">
	<a href="https://www.linkedin.com/in/wessel-van-den-ijssel/" title="LinkedIn">
		<i class="fa-brands fa-linkedin-in"></i>
	</a>
	<a href="mailto:info@wesselvandenijssel.nl" title="info@wesselvandenijssel.nl" class="button button--outlined">Contact</a>
</ul>
